$icon-font-path: "/styles/fonts/";

@import 'sass-bootstrap/lib/bootstrap';
@import "compass/css3";

.browsehappy {
    margin     : 0.2em 0;
    background : #ccc;
    color      : #000;
    padding    : 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top    : 20px;
    padding-bottom : 20px;
}
#search-box {
  margin-bottom: $line-height-computed;
}
// .list-group-item.ng-hide-add,
// .list-group-item.ng-hide-remove {
//   @include transition(0.2s linear all);
//   display:block!important;
// }

// .list-group-item.ng-hide-add.ng-hide-add-active,
// .list-group-item.ng-hide-remove {
//   @include opacity(0);
// }
// .list-group-item.ng-hide-add,
// .list-group-item.ng-hide-remove.ng-hide-remove-active {
//   @include opacity(1)
// }
.list-group-item {
  img {
    @media (max-width: $screen-xs) {
      display: none;
    }
  }
}
.accelerate {
  @include translateZ(0);
  @include transform-style(preserve-3d);
  @include backface-visibility(hidden);
}

.container {
  @extend .accelerate;
}
.jumbotron,
.list-group-item {
  background-color: #FFF;
  background-color: rgba(255,255,255,0.9);
}


.center {
  max-width : 400px;
  margin    : 0 auto;
  width     : 88%;
}

.wrapper {
  // min-height: 460px;
  position : absolute;
  top      : 0;
  left     : 0;
  display  : table;
  overflow : hidden;
  width    : 100%;
  height   : 100%;
}
.scene,
.layer {
  display : block;
  margin  : 0;
  padding : 0;
  width   : 100%;
  height  : 100%;
}

.scene {
  position         : fixed;
  overflow         : hidden;
  min-height       : 460px;
  background-color : #f1e8e9;
}
.background {
  position        : absolute;
  top             : -15%;
  bottom          : -15%;
  left            : -15%;
  width           : 130%;
  background      : url(../images/background1.jpg) no-repeat 50% 100%;
  background-size : cover;
}

