<div class="hero-unit">
  <h1>'Allo, 'Allo!</h1>
  <p>You now have</p>
  <ul>
      <li ng-repeat="thing in awesomeThings">{{thing}}</li>
  </ul>
  <p>installed.</p>
  <h3>Enjoy coding! - Yeoman</h3>
</div>
<button ng-click="getLoginStatus()" ng-show="logged_in">Get Facebook Status</button>
<br>
<button ng-click="login()" ng-show="!logged_in">Facebook Login</button>
<br>
<button ng-click="logout()" ng-show="logged_in">Facebook Logout</button>
<br>
<button ng-click="getFriends()" ng-show="logged_in">Get Friends</button>
<hr>
<button ng-click="unsubscribe()" ng-show="logged_in">unsubscribe</button>
<hr>
facebook status: {{fb_status}}
Search: <input ng-model="searchFriend.name">
<div class="row">
  <div class="span4">
    <h3>iOS</h3>
    <ul>
        <li ng-repeat="friend in fb_data.buckets.iOS | filter:searchFriend">
          <img src="" ng-src={{friend.pic_square}} alt="">{{friend.name}}
        </li>
    </ul>
  </div>
  <div class="span4">
    <h3>Android</h3>
    <ul>
        <li ng-repeat="friend in fb_data.buckets.android | filter:searchFriend">
          <img src="" ng-src={{friend.pic_square}} alt="">{{friend.name}}
        </li>
    </ul>
  </div>
  <div class="span4">
    <h3>Living in the past</h3>
    <ul>
        <li ng-repeat="friend in fb_data.buckets.none | filter:searchFriend">
          <img src="" ng-src={{friend.pic_square}} alt="">{{friend.name}}
        </li>
    </ul>
  </div>
</div>