    <!--[if lt IE 10]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->



    <div class="header">
        <ul class="nav nav-pills">
            <li class="active"><a href="">Home</a></li>
            <li><a href="" ng-click="getLoginStatus()" ng-show="config.logged_in">Get Facebook Status</a></li>
            <li><a href="" ng-click="login()" ng-show="!config.logged_in">Facebook Login</a></li>
            <li><a href="" ng-click="getFriends()" ng-show="config.logged_in">Get Friends</a></li>
            <li><a href="" ng-click="unsubscribe()" ng-show="config.logged_in">unsubscribe</a></li>
            <li><a href="" ng-click="logout()" ng-show="config.logged_in">Facebook Logout</a></li>
        </ul>
    </div>

    <div class="jumbotron">
      <div class="container">
        <h1>'Allo, 'Allo!</h1>
        <p class="lead">Always a pleasure scaffolding your apps.</p>
        <p><a class="btn btn-lg btn-success btn-lg" href="#">Splendid!</a></p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
        <div class="input-group">
          <input type="text" class="form-control" ng-model="searchFriend.name">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6">
        <h3>iOS ({{fb_data.buckets.iOS.length}})</h3>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="friend in fb_data.buckets.iOS" ng-show="([friend] | filter:filter.query).length > 0">
              <img src="" ng-src={{friend.pic_square}} alt="{{friend.name}}" class="img-circle" />
              {{friend.name}}
            </li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <h3>Android ({{fb_data.buckets.android.length}})</h3>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="friend in fb_data.buckets.android" ng-show="([friend] | filter:filter.query).length > 0">
              <img src="" ng-src={{friend.pic_square}} alt="{{friend.name}}" class="img-circle" />
              {{friend.name}}
            </li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <h3>Living in the past ({{fb_data.buckets.none.length}})</h3>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="friend in fb_data.buckets.none" ng-show="([friend] | filter:filter.query).length > 0">
              <img src="" ng-src={{friend.pic_square}} alt="{{friend.name}}" class="img-circle" />
              {{friend.name}}
            </li>
        </ul>
      </div>
    </div>

    <div class="footer">
    </div>

